.grid-container-col 
{
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  padding: 10px;
  margin: 0 auto;
  width: 70%;
}

.grid-container-row {
  display: grid;
  gap: 10px;
  grid-template-rows: auto;      
  background-color: white;
  padding: 10px;
}

.grid-item 
{
  background-color: white;  
  padding: 0;
  font-size: 30px;          
  width: 100%;
  box-shadow: 0px 3px 10px 3px rgba(62, 62, 62, 0.1), 0px 0px 5px 1px rgba(62, 62, 62, 0.1);
  display: flex;
  flex-direction: column;
}

.grid-item-noShadow 
{
  background-color: white;  
  padding: 0;
  font-size: 30px;          
  width: 100%;          
}

.grid-item img 
{
  width: 100%;
  height: auto;
  max-width: 100%;
}

.grid-item-noShadow img
{
  width: 100%;
  height: auto;
  max-width: 100%;
}

.grid-itemText
{
  padding-left: 20px;
  padding-right: 15px;
  padding-bottom: 10px;
  margin: 0;
}

.hNTGrid
{
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 19px;
  color: #002855;
  font-weight: 600;
}

.pNTGrid
{
  font-size: 14px;
  margin-top: 5px;
  color: #002855;
}

.pBloderInf
{
  font-size: 16px;
  font-weight: 600;
}

.check {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.check li 
{
    position: relative;
    padding-left: 38px;
    margin-bottom: 12px;
    /*font-weight: 600;*/
    color: #002855;
}

.check li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    /*width: 20px;*/
    /*height: 20px;*/
    border-radius: 50%;
    /*border: 2px solid green;*/
    /*background-color: white;*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*box-shadow: 0px 3px 10px 3px rgba(99, 99, 99, 0.1), 0px 0px 5px 1px rgba(62, 62, 62, 0.1);*/
}

.check li::after {

  content: "";
  position: absolute;
  left: 2.5px; 
  top: 2.5px;               
  width: 20px;
  height: 20px;
  background-image: url('browser_assets/round-checkbox.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0px 3px 10px 3px rgba(140, 140, 140, 0.1), 0px 0px 5px 1px rgba(140, 140, 140, 0.1);
  margin-left: 1px;
  /*https://angel-rs.github.io/css-color-filter-generator/*/                
  /*filter:invert(100%);*/
}

.containerImageSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
  width: 100%;
}

.sliderImage-wrapper {
  width: 100%;
  overflow: hidden;
}

.innerImage-wrapper {
  width: 500%;
  position: relative;
  left: -100%;
}

.slideImage {
  width: calc(100% / 5); 
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slideImage img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.ImageSlidebutton {          
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent; 
  color: #000e1d;
  border: none;           
  cursor: pointer; 
  font-size: 30px;          
  transition: background-color 0.3s, color 0.3s;
  padding: 6px;
  user-select: none;
}

.containerImageSlide:hover
{          
  .ImageSlidebutton
  {
    background-color: #ffffffaa;
    color: #000e1d;
  };
  .ImageSlidebutton:hover
  {
    background-color: #00135c;
    color: white;
  };
}

.prevImage {          
  left: 0;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.nextImage {          
  right: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.grid-item-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00135c;
  text-decoration: none;
  color: white;
  font-weight: bold; 
  height: 30px;
  font-weight: 600;
  margin-top: 8px;
  transition: background-color 0.3s, color 0.3s;
}

.grid-item-button:hover {
  text-decoration: none;          
  background-color: #f0f3ff;
  color: #00135c;
  transition: background-color 0.3s, color 0.3s;
}

.grid-item-button2 {
  width: 100% -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-decoration: none;
  color: black;
  font-weight: bold; 
  height: 30px;
  border: 1px solid #e0e0e0;
  font-weight: 600;
  transition: background-color 0.3s;
  margin-top: 8px;
}

.grid-item-button2:hover {
  text-decoration: none;          
  background-color: #e0e0e0;
  transition: background-color 0.3s;
}

.grid-itemTextnoShadow {
    position: relative;
    top: 30%;
    transform: translateY(-30%);
}

@media all and (max-width: 479px) 
{
  .grid-container-col{width: 75%;}
}