@import url("variables.css");

:not(:defined) > * {
  display: none;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--Default-bg-color);
  overflow: overlay;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Open Sans",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

model-viewer {
  width: 100%;
  height: 70%;
  background-color: var(--Default-bg-color);
  background-image: url();  
  /*background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
}

.progress-bar {
  display: block;
  width: 35%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  /*box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);*/
  border: 1px solid #00274ee6;
  background-color: rgba(100, 100, 100, 1);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: var(--Renson-blue-color);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

#ar-button {
  background-image: url(ar_icon_R.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: var(--Default-bg-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color:var(--Renson-blue-color);
  height: 36px;
  line-height: 36px;
  /*border-radius: 18px;*/
  border: 1px solid #DADCE0;
  /*filter: brightness(0) saturate(100%) invert(11%) sepia(56%) saturate(2766%) hue-rotate(191deg) brightness(99%) contrast(106%);*/
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
  to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
}

@keyframes elongate {
  from { transform: translateX(100px); }
  to   { transform: translateX(-100px); }
}

model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status="session-started"] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--Light-blue-bg-color);
  overflow-x: hidden;
  transition: 0.15s;
  padding-top: 30px;
  z-index: 7;  
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  font-family: "Lato", sans-serif;
}

.sidenavLink {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--Renson-blue-color);
  display: block;
  transition: 0.3s;
}

.sidenavLink:hover {
  color: #0023ac;
}

.sidenav-arrow {
  background-color: transparent; /* Transparent background */
  color: var(--Arrow-color); /* Arrow color */
  border: none; /* Border color */
  /*border-radius: 5px; /* Slightly rounded corners */
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 24px; /* Adjust the size of the arrows */
  /*margin: 0 5px; /* Space between the arrows and the slider */
  transition: var(--Default-transition); /* Transition effect for hover */
  height: 80px;
  width: 40px;
  position: absolute;
  top: 2%;
  left: 0;
  user-select: none;
}

.sidenav-arrow:hover
{
  background-color: var(--Button-blue-color); /* Change background on hover */
  color: var(--Text-white); /* Change arrow color on hover */
}

.sidenav-Infobox
{
  padding: 10px;
  padding-left: 25px;
}

.sidenavtext
{
  margin-top: 15px;
  margin-bottom: 0px;
}

.slider-container
{
  display: flex;
  justify-content: flex-start; /* Align items to the start */
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Ensure items stay in a single row */
  padding: 10px 0; /* Add some padding to the slider */      
}
      
.slider-item 
{
  display: inline-block; /* Make each item inline to stay in a single row */
  margin: 0 10px;
  cursor: pointer;
  background-color: var(--Default-bg-color);
  color: var(--Renson-blue-color);
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  transition: background-color 0.5s, color 0.5s;
}

.slider-item.active
{
  background-color: var(--Renson-blue-color);
  color: var(--Text-white);
  transition: background-color 0.5s, color 0.5s;
  
}
      
.slider-item img
{
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
  background-color: transparent; /* Default transparent background */
  /*padding: 5px; /* Add some padding to the images */
}

.slider-item img.active 
{
  background-color: transparent; /* Blue background for active image */
  border-radius: 8px; /* Keep the rounded corners */
}

/* Hide scrollbar for webkit browsers */
.slider-container::-webkit-scrollbar 
{
  display: none;
}

/* For all other browsers, you can customize scrollbar */
.slider-container 
{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}   

.slider-navigation
{
  display: flex;
  align-items: center; /* Center the arrows vertically */
  justify-content: center; /* Center the whole container */
  background-color: var(--Light-blue-bg-color); /* Match the background of the slider container */
  padding: 10px; /* Add padding for better spacing */
  /*border-top: 10px solid #002855; /* Top border to match the slider */
}

.nav-arrow {
  background-color: transparent; /* Transparent background */
  color: var(--Arrow-color); /* Arrow color */
  border: none; /* Border color */
  border-radius: 5px; /* Slightly rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 24px; /* Adjust the size of the arrows */
  margin: 0 5px; /* Space between the arrows and the slider */
  transition: var(--Default-transition); /* Transition effect for hover */
  /*height: 95px;
  width: 50px;*/
  user-select: none;
}

.nav-arrow:hover
{
  background-color: var(--Button-blue-color); /* Change background on hover */
  color: var(--Text-white); /* Change arrow color on hover */
}

.popup 
{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /*display: none;*/
  overflow: hidden; /* Prevent scrolling in the popup */
  /*transition: background-color 0.3s, color 0.3s;*/
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s;
}

.popup-content 
{
  background-color: var(--Default-bg-color);
  margin: auto;
  padding: 20px;
  border: 3px solid var(--Renson-blue-color);
  width: 20%;
  font-weight: bolder;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  box-shadow: 0px 3px 10px 3px rgba(62, 62, 62, 0.1), 0px 0px 5px 1px rgba(62, 62, 62, 0.2);  
}

.popup-content button 
{
  display: block;
  margin: 0 auto;
  height: 30px;
  width: 75%;
  background-color: var(--Renson-blue-color);
  border: none;
  color: var(--Text-white);
  transition: var(--Default-transition);
  margin-top: 10px;
  font-weight: 600;
}

.popup-content button:hover 
{
  background-color: var(--Light-blue-bg-color);
  color: var(--Button-blue-color);
  transition: var(--Default-transition);        
}

.popup-content img 
{
  width: 100%;
  height: auto;
  max-width: 100%;
}

.show 
{
  /*display: block;*/
  visibility: visible;
  opacity: 1;
}

img 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pNT 
{ 
  color:black ;
  margin-bottom: 10px;
}

.pWT 
{
  color:red;
}

.hRT 
{ 
  color: var(--Renson-blue-color);        
}

.BackgroundGrey
{
  border-top: 5px solid var(--Renson-blue-color);
  background-color: var(--Light-blue-bg-color);
  height: 20%;
}

.RensonButton
{
  font-size: 14px;
  background-color: var(--Renson-blue-color);
  border: none;
  color: var(--Text-white);
  /*border-radius: 5px;*/
  height: 25px;
  cursor: pointer;
  z-index: 3;
  padding: 4px 50px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-weight: 550;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  transition: var(--Default-transition);
}

.RensonButton:hover
{
  background-color: var(--Light-blue-bg-color);
  color: var(--Button-blue-color);
  transition: var(--Default-transition);
}

.warningbox
{
  background-color: #fef6f6;
  border: 1px solid #DF2828;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /*white-space: nowrap;*/
  top: 16px;
  border-radius: 5px;
}

.warningbox2
{
  background-color: #fef6f6;
  border: 1px solid #DF2828;       
  border-radius: 5px;
  margin-bottom: 10px;
}

#custom-div {
  display: none; /* Initially hidden */
}

::-webkit-scrollbar 
{
  width: 8px !important;
}

::-webkit-scrollbar-track 
{
  width: 6px !important;
  height: 6px !important;
  /*background-color: #00000000 !important;*/
  /*overflow: overlay;*/
  background: none;
}

::-webkit-scrollbar-thumb 
{
  border-radius: 3px !important;
  background-color: #d8e2ef !important;
}

@-moz-document url-prefix() {
  *{
    scrollbar-color: #d8e2ef #00000000 !important;
    scrollbar-width: thin !important;
  }
}

.RensonButtonInput
{
  font-size: 14px;
  background-color: var(--Renson-blue-color);
  border: none;
  color: var(--Text-white);
  /*border-radius: 5px;*/
  height: 35px;
  cursor: pointer;
  z-index: 3;
  /*padding: 4px 4px;*/
  font-weight: 550;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
  white-space: nowrap;
  top: 10px;
  transition: background-color 0.2s, color 0s;
  display: flex;
  /*padding-top: 6px;*/
  display: flex;
  width: 250px;
}

.RensonButtonInput:hover
{
  background-color: var(--Light-blue-bg-color);
  color: var(--Button-blue-color);
  transition: background-color 0.2s, color 0.0s;
}

.RensonButtonClear
{
  font-size: 14px;
  background-color: var(--Renson-blue-color);
  border: none;
  color: var(--Text-white);
  /*border-radius: 5px;*/
  height: 35px;
  cursor: pointer;
  z-index: 3;  
  font-weight: 550;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
  white-space: nowrap;
  top: 60px;
  transition: background-color 0.2s, color 0s;
  display: none; 
  width: 250px;
  font-family: var(--Default-font-family);
  padding-bottom: 2px;
}

.RensonButtonClear:hover
{
  background-color: var(--Light-blue-bg-color);
  color: var(--Button-blue-color);
  transition: background-color 0.2s, color 0.0s;
}

.SliderSelector
{
  position: absolute; 
  right: 15px; 
  top: 120px; 
  scale:1; 
  background-color:var(--Light-blue-bg-color); 
  border-radius: 10px; 
  padding: 10px; 
  pointer-events: all;
}

.PositioningSlider
{
  position: absolute !important; 
  left: 50%; 
  top: 40%; 
  scale:1; 
  transform: translateX(-50%) translateY(-50%);
}

input[type="radio"] {
  accent-color: var(--Button-blue-color);
  cursor: pointer;
}

.uploadTest
{
  background-image: url('browser_assets/upload-solid.svg');
  background-size: contain;
  background-repeat: no-repeat;
  /*padding-top: 10px;*/
  margin-top: 3px;
  padding-right: 10px;
  width: 14px;
  height: 14px;
  color: var(--Text-white);
  filter: brightness(100%) saturate(0%) invert(0%) sepia(0%) saturate(100%) hue-rotate(120deg) brightness(100%) contrast(100%);
  /*transition: filter 0.3s;*/
}

.RensonButtonInput:hover .uploadTest
{
  filter: var(--Renson-blue-filter);
  /*color: var(--Button-blue-color);*/
  /*transition: filter 0.3s;*/
}

.sliderScale
{
  appearance: none;
  width: 300px;
  height: 5px;
  /*right: calc((-300px/2) + 15px);*/
  left: 50%;
  position: absolute;
  transform: rotate(0deg); 
  /*transform-origin: 50% 50%;*/
  /*top: 52%;*/
  bottom: 75px;
  background: linear-gradient(to right, var(--Renson-blue-color) 0%, var(--Renson-blue-color) 42.85%, rgb(211, 211, 211) 42.85%, rgb(211, 211, 211) 100%);
  border-radius: 10px;  
  transform: translateX(-50%);   
  pointer-events: all; 
}

.sliderScale::-webkit-slider-thumb
{
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--Renson-blue-color);
  cursor: pointer;
  border: 1px solid white;
}

.sliderScale::-moz-range-thumb
{
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--Renson-blue-color);
  cursor: pointer;
  /*border: 1px solid white;*/
}

.DispplayOnlyOnImageBackground
{
  display: none;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media all and (min-width: 480px) 
{
  .deskContent {display:block;}
  .phoneContent {display:none;}        
}

@media all and (max-width: 479px) 
{
  .deskContent {display:none;}
  .phoneContent {display:block;}
  .progress-bar {width: 80%;}
  header nav ul {display: none;}
}