:root
{
    --Renson-blue-color: #002855;
    --Light-blue-bg-color: #f0f3ff;
    --Button-blue-color: #00135c;
    --Text-white: white;
    --Arrow-color: #000e1d;
    --Default-bg-color: white;
    --Renson-blue-filter: brightness(0) saturate(100%) invert(11%) sepia(56%) saturate(2766%) hue-rotate(191deg) brightness(99%) contrast(106%);
}